body{
  height: 100%;
  background-color: black;
  background : url('./images/coding.png');
}
.nav-button{
  margin-top: 5vh;
  margin-left: 50px;
  position: fixed;
  z-index: 3;
}
.social-media-margin-left{
  margin-left: 2vw;
}
a:hover{
  color: yellow;
}
.warna{
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 100px;
}
.transparant-color{
  background-color: rgba(0, 0, 0, 0.5);
}
